@use "../settings/variables" as _variables;

// Keyframes..........Keyframe animations.

/* - Fade In - */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* - CD pulse - */
@keyframes cd-pulse {
  0% {
    box-shadow: 0 0 0 0 _variables.$core-color-brand;
  }
  80% {
    box-shadow: 0 0 0 13px rgba(255, 150, 44, 0);
  }
}
