@use "../settings/variables" as _variables;

// Typography.........The sites typography faces.

// Variable Fonts

// Selawik
@font-face {
  font-family: 'Selawik Variable';
  src: url('../fonts/selawik-variable.woff2') format('woff2-variations');
  font-display: swap;
}

// Avenir Next
@font-face {
  font-family: 'Avenir Next Variable';
  src: url('../fonts/avenir-next-variable.woff2') format('woff2-variations');
  font-display: swap;
}
